@import "tailwindcss";

html {
  background-color: #e5e5e5 !important;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #e5e5e5 !important;
  font-family: 'Space Grotesk', sans-serif;
}

#root {
  min-height: 100vh;
}
